table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 17%;
  }

.win {
  font-weight: bold;
  color: red;
}

.make-green {
  font-weight: bold;
  color: green;
}