table {
    width: 100%;
}
  
.filter {
    font-size: 14px;
    width: 100%;
}

td, th {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  margin-left: 15px;
}

.make-bold {
    font-weight: bold;
}