<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Insert stats for a game</h5>
      </div>
      <div class="modal-body">
        <label>Player Name (case sensitive):</label>
        <input class="form-control" [(ngModel)]="playerItem" id="ex1" type="text" style="margin-bottom: 20px">
        <label>Date (optional, default is today): </label>
        <input type="date" [(ngModel)]="playerDate">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="addPlayer()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>